@model Article
@{
    ViewData["Title"] = "Incele";
    Layout = "~/Views/Shared/_LayoutYonetici.cshtml";
}

<div class="container-fluid text-center">
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Makale Başlık</h6>
                </div>
                <div class="card-body">
                    @Model.Title
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Makale Eklenme Tarihi</h6>
                </div>
                <div class="card-body">
                    @Model.CreatedDate
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Makale Kategori</h6>
                </div>
                <div class="card-body">
                    @Model.Category.CategoryName
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Makale Yazar</h6>
                </div>
                <div class="card-body">
                    @Model.Author.NameSurname
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Makale İçerik</h6>
                </div>
                <div class="card-body">
                    @Html.Raw(Model.Content)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">İşlemler</h6>
                </div>
                <div class="card-body">
                    <a href="/YoneticiMakale/Index/" class="btn btn-info btn-sm"><i class="fa fa-arrow-left"></i> Geriye Dön</a>
                    <a href="#" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Makale Sil</a>
                    <a href="/YoneticiMakale/Guncelle/@Model.Id" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Makale Düzenle</a>
                    <a href="/YoneticiMakale/Fotograf/@Model.Id" class="btn btn-warning btn-sm"><i class="fa fa-camera"></i> Fotoğraf Düzenle</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Makale Silme Ekranı</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form asp-controller="YoneticiMakale" asp-action="Sil" asp-route-Id="@Model.Id" method="post" enctype="multipart/form-data" class="form-horizontal mrg-top-40 pdd-right-30 ng-pristine ng-valid">
                <div class="modal-body">
                    Makaleyi Gerçekten Silmek İstediğinize Emin Misiniz ?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal Et</button>
                    <button type="submit" class="btn btn-danger">Makaleyi Sil</button>
                </div>
            </form>
        </div>
    </div>
</div>