@model Recipe.MvcWebUI.Models.UserViewModel
@{
    ViewData["Title"] = "Profil";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <ul class="page-header-breadcrumb">
                    <li><a href="/Uye/Profil/">Anasayfa</a></li>
                    <li>Profil</li>
                </ul>
                <h1>Üye Profili</h1>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <div class="section-row text-center">

                    @if (TempData["UyeGuncellemeBasariMesaj"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["UyeGuncellemeBasariMesaj"]
                        </div>
                    }
                    @if (TempData["UyeFotografBasariMesaj"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["UyeFotografBasariMesaj"]
                        </div>
                    }
                    @if (TempData["UyeSifreBasariMesaj"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["UyeSifreBasariMesaj"]
                        </div>
                    }

                    <ul class="list-group">
                        <li class="list-group-item active"><b>Üye Profil Bilgileri</b></li>
                        <li class="list-group-item"><b>Ad Soyad : </b>@Model.User.NameSurname</li>
                        <li class="list-group-item"><b>Mail Adresi : </b>@Model.User.Mail</li>
                        <li class="list-group-item"><b>Üyelik Tarihi : </b>@Model.User.CreatedDate</li>
                        <li class="list-group-item"><b>Kullanıcı Adı : </b>@Model.User.Username</li>
                        <li class="list-group-item"><b>Kullanıcı Adı : </b>@Model.User.Password</li>
                    </ul>

                    <ul class="list-group">
                        <li class="list-group-item active"><b>Üye İşlemleri</b></li>
                        <li class="list-group-item">
                            <a href="/Uye/Duzenle/" class="btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i> Profil Bilgileri Düzenle</a>
                            <a href="/Uye/Fotograf/" class="btn btn-success"><i class="fa fa-camera" aria-hidden="true"></i> Profil Fotoğrafı Düzenle</a>
                            <a href="/Uye/SifreDuzenle/" class="btn btn-danger"><i class="fa fa-key" aria-hidden="true"></i> Şifre Güncelle</a>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="col-md-4">
                <!-- catagories -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2>Kategoriler</h2>
                    </div>
                    <div class="category-widget">
                        <ul>
                            @foreach (var item in Model.Categories)
                            {
                                <li><a href="/Anasayfa/Kategori/@item.Id" class="cat-1"><i class="fa fa-arrow-right" aria-hidden="true"></i> @item.CategoryName</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <!-- /catagories -->
                <!-- catagories -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2>Çok Okunanlar</h2>
                    </div>
                    <div class="category-widget">
                        <ul>
                            @foreach (var item in Model.MostPopular)
                            {
                                <li>
                                    <a href="/Anasayfa/Makale/@item.Id" class="cat-1">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        @if (item.Title.Length > 20)
                                        {
                                            @item.Title.Substring(0, 20) <span>...</span>
                                        }
                                        else
                                        {
                                            @item.Title
                                        }
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
                <!-- /catagories -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

