@model Recipe.MvcWebUI.Models.CommentViewModel
@{
    ViewData["Title"] = "Yorumlar";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <ul class="page-header-breadcrumb">
                    <li><a href="/Uye/Profil/">Anasayfa</a></li>
                    <li>Profil</li>
                </ul>
                <h1>Üye Yorumları</h1>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <div class="section-row text-center">

                    @if (TempData["YorumSilmeMesaj"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["YorumSilmeMesaj"]
                        </div>
                    }

                    <ul class="list-group">
                        <li class="list-group-item active"><b>Yazdığım Yorumlar</b></li>
                        @foreach (var item in Model.Comments)
                        {
                            <li class="list-group-item">
                                @if (item.Title.Length > 50)
                                {
                                    <a href="/Uye/YorumDetay/@item.Id">@item.Title.Substring(0, 50)</a>
                                }
                                else
                                {
                                    <a href="/Uye/YorumDetay/@item.Id">@item.Title</a>
                                }
                            </li>
                        }
                    </ul>


                </div>
            </div>

            <div class="col-md-4">
                <!-- catagories -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2>Kategoriler</h2>
                    </div>
                    <div class="category-widget">
                        <ul>
                            @foreach (var item in Model.Categories)
                            {
                                <li><a href="/Anasayfa/Kategori/@item.Id" class="cat-1"><i class="fa fa-arrow-right" aria-hidden="true"></i> @item.CategoryName</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <!-- /catagories -->
                <!-- catagories -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2>Çok Okunanlar</h2>
                    </div>
                    <div class="category-widget">
                        <ul>
                            @foreach (var item in Model.MostPopular)
                            {
                                <li>
                                    <a href="/Anasayfa/Makale/@item.Id" class="cat-1">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        @if (item.Title.Length > 20)
                                        {
                                            @item.Title.Substring(0, 20) <span>...</span>
                                        }
                                        else
                                        {
                                            @item.Title
                                        }
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
                <!-- /catagories -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

